
- name: launch client
  command: |
     docker run --rm -d -e IPERF_VER={{ wl_tunables.IPERF_VER }} \
          -e MODE={{ wl_tunables.MODE }} \
          -e PROTOCOL={{ wl_tunables.PROTOCOL }} \
          -e IPERF_SERVICE_NAME={{ hostvars['controller-0'].private_ip }} \
          -e SERVER_POD_PORT={{ wl_tunables.SERVER_POD_PORT }} \
          -e CLIENT_CORE_COUNT={{ wl_tunables.CLIENT_CORE_COUNT }} \
          -e CLIENT_CORE_LIST={{ wl_tunables.CLIENT_CORE_LIST }} \
          -e CLIENT_OPTIONS={{ wl_tunables.CLIENT_OPTIONS }} \
          -e ONLY_USE_PHY_CORE={{ wl_tunables.ONLY_USE_PHY_CORE }} \
          -e PARALLEL_NUM={{ wl_tunables.PARALLEL_NUM }} \
          -e CLIENT_TRANSMIT_TIME={{ wl_tunables.CLIENT_TRANSMIT_TIME }} \
          -e BUFFER_SIZE={{ wl_tunables.BUFFER_SIZE }} \
          -e UDP_BANDWIDTH={{ wl_tunables.UDP_BANDWIDTH }} \
          -e CLIENT_OR_SERVER=client \
          {{ iperf_client_image }} \
          /run_iperf_ingress.sh
  register: container
  delegate_to: "{{ groups['off_cluster_hosts'] | first }}"
  when: wl_tunables.MODE == 'ingress'

- name: wait for benchmark to complete
  include_tasks:
    file: process-traces-and-logs.yaml.origin

- name: destroy container
  command: |
    docker rm -f {{ container.stdout }}
  delegate_to: "{{ groups['off_cluster_hosts'] | first }}"
  when: wl_tunables.MODE == 'ingress'
