#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

wl_sysctls: {}
wl_sysfs: {}
wl_kernel_args: {}
wl_kernel_args_optional: {}
wl_kernel_modules: []
k8s_node_labels: []

# format: <group>:key=value[ key=value],...
sut_kernel_args: ""

# format: <group>:module1[ module2],...
sut_kernel_modules: ""

# format: <group>:key=value,...
sut_sysctl_options: ""

# format: <group>:key=value,...
sut_sysfs_options: "workload_hosts:/sys/devices/system/cpu/cpu*/cpufreq/scaling_governor=performance,offcluster_hosts:/sys/devices/system/cpu/cpu*/cpufreq/scaling_governor=performance"

sut_incompatible_services: "tuned,ondemand,unattended-upgrades"
sut_update_datetime: true
