#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#
- hosts: workload_hosts
  become: "{{ sut_sudo | default(true) | bool }}"
  any_errors_fatal: true
  gather_facts: false
  tasks:

    - name: Recording timing
      shell:
        cmd: |
          echo "docker_setup_start: \"$(date -Ins)\"" >> {{ wl_logs_dir }}/timing.yaml
        executable: /bin/bash
      delegate_to: localhost
      when: (ansible_connection|default('ssh')) == 'ssh'
      become: false
      async: 30
      poll: 0

    - name: Install docker
      include_role:
        name: docker
      when:
      - (ansible_connection|default('ssh')) == 'ssh'
      - (native | default(false) | bool) == false
      - sut_sudo | default(true) | bool

    - name: Recording timing
      shell:
        cmd: |
          echo "docker_setup_end: \"$(date -Ins)\"" >> {{ wl_logs_dir }}/timing.yaml
        executable: /bin/bash
      delegate_to: localhost
      when: (ansible_connection|default('ssh')) == 'ssh'
      become: false
      async: 30
      poll: 0
