#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

k8s_repo_key_url: 
  ubuntu: "https://dl.k8s.io/apt/doc/apt-key.gpg"
  debian: "https://dl.k8s.io/apt/doc/apt-key.gpg"
  centos:
    - "https://packages.cloud.google.com/yum/doc/yum-key.gpg"
    - "https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg"

k8s_repo_url: 
  ubuntu: "http://apt.kubernetes.io/"
  debian: "http://apt.kubernetes.io/"
  centos: "https://packages.cloud.google.com/yum/repos/kubernetes-el7-$basearch"

