scrape_configs:
  - job_name: 'cAdvisors'
    scrape_interval: {{ scrape_interval }}s
    static_configs:
      - targets: {{ targets_list }}
    metric_relabel_configs:
    - source_labels: [__name__]
      regex: "go.*"
      action: drop
    - source_labels: [__name__]
      regex: "process.*"
      action: drop
    - source_labels: [__name__]
      regex: "machine.*"
      action: drop
    - source_labels: [__name__]
      regex: "container_cpu.*"
      action: drop
    - source_labels: [__name__]
      regex: "container_memory.*"
      action: drop
    - source_labels: [__name__]
      regex: "container_network.*"
      action: drop
    - source_labels: [__name__]
      regex: "container_spec.*"
      action: drop
    - source_labels: [__name__]
      regex: "container_start.*"
      action: drop
    - source_labels: [__name__]
      regex: "container_tasks.*"
      action: drop
    - source_labels: [__name__]
      regex: "container_last.*"
      action: drop
    - source_labels: [__name__]
      regex: "container_scrape.*"
      action: drop
    - source_labels: [__name__]
      regex: '(.*)'
      replacement: 'cadvisor_${1}'
      target_label: __name__
