
- name: apply default Intel Device Plugins Operator configuration
  command:
    cmd: "kubectl apply -k https://github.com/intel/intel-device-plugins-for-kubernetes//deployments/operator/default?ref={{ dp_operator_ref }}"
  changed_when: true

- name: wait for Intel Device Plugin Operator to become fully available
  command: "kubectl wait deployment inteldeviceplugins-controller-manager --namespace={{ dp_operator_namespace }} --for=condition=Available --timeout=120"
  failed_when: false

- name: set nodes names for NFD labels
  shell: kubectl get nodes | grep -v -i NAME | awk '{print $1}' | tr "\n" " "
  args:
     executable: /bin/bash
  register: set_node_names_for_labels

- name: add DSA Device Plugin labels to nodes
  command:
    cmd: "kubectl label nodes {{ set_node_names_for_labels.stdout  }} {{ dsa_dp_labels }} --overwrite"
  loop_control:
    loop_var: dsa_dp_labels
  loop: "{{ dsa_device_plugin_nodeselector }}"
  changed_when: true

- name: transfer Intel DSA Device Plugin yaml file and push to controller
  template:
    src: "dsa-intel-device-plugin.yml.j2"
    dest: "/tmp/{{ wl_namespace }}-dsa-intel-device-plugin.yml"
    force: yes
    mode: preserve

- name: Intel DSA Device Plugin deploy with the Intel Device Plugin Operator
  command: "kubectl apply -f /tmp/{{ wl_namespace }}-dsa-intel-device-plugin.yml"

- name: wait for DSA Device Plugin to become fully available
  command: "kubectl wait deployment intel-dsa-plugin --namespace={{ intel_dsa_dp_namespace }} --for=condition=Available --timeout=45"
  failed_when: false

- name: Remove script
  file:
    path: "/tmp/{{ wl_namespace }}-dsa-intel-device-plugin.yml"
    state: absent

