[ssh_connection]
pipelining = true
ssh_args = -o ControlMaster=auto
host_key_checking = False
control_path = /tmp/wsf-ssh-%%h-%%p-%%r

[defaults]
forks = 20
internal_poll_interval = 0.001
stdout_callback = debug

[privilege_escalation]
become_flags = -E -H

