[ssh_connection]
ssh_args = -o ControlMaster=auto
host_key_checking = False
control_path = /tmp/wsf-ssh-%%h-%%p-%%r
scp_if_ssh = smart
transfer_method = smart

[defaults]
forks = 20
internal_poll_interval = 0.001
stdout_callback = debug
pipelining = False

[privilege_escalation]
become_flags = -E -H

