- name: apply default Intel Device Plugins Operator configuration
  command: "kubectl apply -k https://github.com/intel/intel-device-plugins-for-kubernetes//deployments/operator/default?ref={{ dp_operator_ref }}"
  changed_when: true

- name: wait for Intel Device Plugin Operator to become fully available
  command: "kubectl wait deployment inteldeviceplugins-controller-manager --namespace={{ dp_operator_namespace }} --for=condition=Available --timeout=120"
  failed_when: false

- name: verify default Intel Device Plugin Operator after configured
  shell:
     cmd: "kubectl get pods --all-namespaces | grep 'inteldeviceplugins-controller-manager'"
  register: verify_dp_operator_status

- name: add DLB Device Plugin labels to nodes
  command:
    cmd: "kubectl label nodes  {{ ansible_hostname }} {{ dlb_dp_labels }} --overwrite"
  loop_control:
    loop_var: dlb_dp_labels
  loop: "{{ dlb_device_plugin_nodeselector }}"
  changed_when: true

- name: transfer Intel DLB Device Plugin yaml file and push to controller
  template:
    src: "dlb-intel-device-plugin.yml.j2"
    dest: "/tmp/{{ wl_namespace }}-dlb-intel-device-plugin.yml"
    force: yes
    mode: preserve

- name: Intel DLB Device Plugin deploy with the Intel Device Plugin Operator
  command: "kubectl apply -f /tmp/{{ wl_namespace }}-dlb-intel-device-plugin.yml"

- name: wait for DLB Device Plugin to become fully available
  command: "kubectl wait deployment intel-dlb-plugin --namespace={{ intel_dlb_dp_namespace }} --for-condition=Available --timeout=45"
  failed_when: false

- name: remove script
  file:
    path: "/tmp/{{ wl_namespace }}-dlb-intel-device-plugin.yml"
    state: absent
