#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

- name: reset kubernetes
  command: "kubeadm reset -f"
  become: true
  ignore_errors: yes

- name: reset by cni
  include_role:
    name: "cni-{{ k8s_cni }}"
    tasks_from: reset.yaml
  when: (playbook_dir + '/roles/cni-' + k8s_cni + '/tasks/reset.yaml') is exists

- name: delete ip link cni0
  command: "ip link delete cni0"
  become: true
  ignore_errors: yes

- name: delete /etc/cni/net.d
  file:
    path: /etc/cni/net.d
    state: absent
  become: true
  ignore_errors: true

- name: clear ip route
  shell: |
    ip route flush proto bird
  become: true
  ignore_errors: true

- name: restart containerd
  include_role:
    name: containerd
    tasks_from: restart
  vars:
    containerd_restart_required: [true]

- name: remove cpumanager, topologymanager, memorymanager states
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /var/lib/kubelet/cpu_manager_state
    - /var/lib/kubelet/topology_manager_state
    - /var/lib/kubelet/memory_manager_state
  become: true

