
    - name: copy kpi.sh to the itr directory
      copy:
        src: "{{ wl_logs_dir }}/kpi.sh"
        dest: "{{ wl_logs_dir }}/itr-{{ item }}/"
        mode: "a+rx"
      loop: "{{ range(1, run_stage_iterations | default(1) |int+1, 1) | list }}"
      failed_when: false

    - name: modify top level kpi.sh to point to itr-1
      lineinfile:
        path: "{{ wl_logs_dir }}/kpi.sh"
        line: "[ -d itr-1 ] && cd itr-1"
        insertafter: "^#!.*"
        firstmatch: yes
        state: present
      failed_when: false

