#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

  - name: remove old versions
    yum:
      name:
      - podman
      - runc
      - containerd
      - containerd.io
      state: absent
    become: true
    ignore_errors: true
    when: ((csp | default('static')) in ['static', 'kvm', 'hyperv'] or (csp | default('static')) == 'alicloud')

  - name: Detect OS version
    shell:
      cmd: . /etc/os-release; echo $VERSION_ID
      executable: /bin/bash
    register: osver

  - name: Install docker repo
    get_url:
      url: "{{ docker_dist_repo }}/linux/centos/docker-ce.repo"
      dest: "/etc/yum.repos.d/docker-ce.repo"
    become: true
    when: osver.stdout | int >= 8
    register: getrc
    until: getrc is success
    retries: 10
    delay: 5

  - name: "install {{ containerd_package_name }}"
    yum:
      name:
      - "{{ containerd_package_name }}-{{ containerd_version | default(containerd_default_version.centos) }}*"
      update_cache: true
    become: true
    register: yumrc
    until: yumrc is success
    retries: 10
    delay: 10

