#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

- name: remove old versions
  apt:
    name:
    - containerd
    - containerd.io
    - runc
    state: absent
  become: true
  ignore_errors: true
  when: ((csp | default('static')) == 'static')

- name: install prerequisite
  apt:
    name: gnupg
    state: present
    update_cache: true
  register: aptrc
  until: aptrc is success
  retries: 10
  delay: 5
  become: true

- name: add docker GPG key
  get_url:
    url: "{{ docker_dist_repo }}/linux/debian/gpg"
    dest: /usr/share/keyrings/docker.asc
    mode: '0644'
    force: true
  become: true
  register: getrc
  until: getrc is success
  retries: 10
  delay: 5

- name: get os codename
  shell:
    cmd: ". /etc/os-release; echo $VERSION_CODENAME"
    executable: /bin/bash
  register: codename

- name: add docker repository to apt
  apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/docker.asc] {{ docker_dist_repo }}/linux/debian {{ codename.stdout | lower }} stable"
    state: present
    update_cache: false
  become: true

- name: install containerd.io
  apt:
    name:
    - "containerd.io={{ containerd_default_version['debian'] }}"
    update_cache: true
  register: aptrc
  become: true
  until: aptrc is success
  retries: 10
  delay: 10

