---
apiVersion: deviceplugin.intel.com/v1
kind: SgxDevicePlugin
metadata:
  name: intel-sgx-device-plugin
spec:
  image: docker.io/intel/intel-sgx-plugin:{{ sgx_device_plugin_ver }}
  initImage: docker.io/intel/intel-sgx-initcontainer:{{ sgx_device_plugin_ver }}
  enclaveLimit: {{ sgx_enclaveLimit }}
  provisionLimit: {{ sgx_provisionLimit }}
  logLevel: 4
  nodeSelector:
    intel.feature.node.kubernetes.io/sgx: 'true'
