listen_addresses='*'
max_connections=256
shared_buffers=64000MB
temp_buffers=4096MB
work_mem=4096MB
maintenance_work_mem=512MB
autovacuum_work_mem=-1
max_stack_depth=7MB
dynamic_shared_memory_type=posix
max_files_per_process=4000
effective_io_concurrency=32
wal_level=minimal
synchronous_commit=off
wal_buffers=-1
checkpoint_timeout=300
max_wal_size=524288
min_wal_size=262144
checkpoint_completion_target=0.9
checkpoint_warning=1
archive_mode=off
max_wal_senders=0
random_page_cost=1.1
cpu_tuple_cost=0.03
effective_cache_size=350GB
track_activity_query_size=2048
log_min_messages=error
log_min_error_statement=error
log_timezone='UTC'
autovacuum=on
autovacuum_max_workers=10
autovacuum_vacuum_cost_limit=3000
datestyle='iso'
timezone='UTC'
lc_messages='en_US.UTF-8'
lc_monetary='en_US.UTF-8'
lc_numeric='en_US.UTF-8'
lc_time='en_US.UTF-8'
default_text_search_config='pg_catalog.english'
max_locks_per_transaction=64
max_pred_locks_per_transaction=64