# Overwrite the test cases for performance tunning on ICX.
######################### BKM for Workload Performance#######################
# INSTANCE_NUM: The nummer of Cassandra server and client instance to run concurrently.
#
# JVM_HEAP_SIZE: JVM configure for '-Xms' and '-Xmx'. Here set min (-Xms) and max (-Xmx)
#                heap sizes to the same value to avoid stop-the-world GC pauses during resize.
#
# NUMA Node : Use SNC-4.
#
# Turbo : should enable in BIOS
#
# Network bandwidth : >= 10Gb
#
# DISK :
#        Type: 8 * NVME disk. mounted on /mnt/disk1, /mnt/disk2, ... /mnt/disk8
#        Each disk Size: > 300GB
#
#Memory: 512GB
#
############################################################################
#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

*standalone_2n_pkm:
  DEPLOY_MODE: standalone
  CLIENT_DURATION: 15m
  INSTANCE_NUM: 4
  JVM_HEAP_SIZE: 31
  CASSANDRA_DISK_MOUNT: true
  CLIENT_POP_MAX: 360000000
  CLIENT_THREADS: 128
  CASSANDRA_CONCURENT_READS: 96
  CASSANDRA_CONCURENT_WRITES: 32
  KERNEL_TUNE_ENABLE: true
  JDK_VERSION: JDK14
  CASSANDRA_NUMACTL_VCORES_ENABLE: true
