---
apiVersion: deviceplugin.intel.com/v1
kind: DsaDevicePlugin
metadata:
  name: intel-dsa-plugin
spec:
  image: docker.io/intel/intel-dsa-plugin:{{ dsa_device_plugin_ver }}
  sharedDevNum: 10
  logLevel: 4
  nodeSelector:
    intel.feature.node.kubernetes.io/dsa: 'true'
