#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

apiVersion: apps/v1
kind: Deployment
metadata:
  name: registry
  labels:
    app: registry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: registry
  template:
    metadata:
      labels:
        app: registry
    spec:
      volumes:
      - name: cert
        secret:
          secretName: {{ k8s_registry_cert }}
      - name: config
        secret:
          secretName: wsf-registry-config
      containers:
        - image: registry:2
          name: registry
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          volumeMounts:
          - name: cert
            mountPath: /certs
          - name: config
            mountPath: /etc/docker/registry
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
---
apiVersion: v1
kind: Service
metadata:
  name: {{ k8s_registry_service }}
  labels:
    app: {{ k8s_registry_service }}
spec:
  ports:
    - nodePort: {{ k8s_registry_port | int }}
      port: 5000
      targetPort: 5000
  type: NodePort
  selector:
    app: registry

