#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

- name: try setting huge pages
  shell:
    cmd: |
      [ $(cat {{ hugepage_path }}) -ge {{ hugepage_value }} ] || (
        echo {{ hugepage_value }} > {{ hugepage_path }}
        [ $(cat {{ hugepage_path }}) -ge {{ hugepage_value }} ]
      )
    executable: /bin/bash
  register: hugepagerc
  until: hugepagerc is success
  retries: 5
  delay: 1
  vars:
    hugepage_path: "/sys/kernel/mm/hugepages/hugepages-{{ label_name.split('-')[3] }}/nr_hugepages"
    hugepage_value: "{{ label_name.split('=')[0].split('-')[4] }}"
  ignore_errors: true

- name: set hugepage kernel args
  set_fact:
    wl_kernel_args: "{{ wl_kernel_args | combine({ 'hugepagesz=' + (label_name.split('-')[3]): 'hugepagesz=' + (label_name.split('-')[3].replace('B','')) + ' hugepages=' + (label_name.split('=')[0].split('-')[4]) }) }}"
    kernel_args_reboot_required: "{{ (kernel_args_reboot_required | default('false') | bool) or (not hugepagerc is success) }}"

- name: set defaulthugepagesz
  set_fact:
    wl_kernel_args: "{{ wl_kernel_args | combine({ 'defaulthugepagesz': 'defaulthugepagesz=' + (label_name.split('-')[3].replace('B','')) }) }}"
  when:
  - wl_set_default_hugepagesz | default(false) | bool

