#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

- name: try setting huge pages
  shell:
    cmd: |
      [ $(cat {{ hugepage_path }}) -ge {{ hugepage_value }} ] || (
        echo {{ hugepage_value }} > {{ hugepage_path }}
        [ $(cat {{ hugepage_path }}) -ge {{ hugepage_value }} ]
      )
    executable: /bin/bash
  register: hugepagerc
  until: hugepagerc is success
  retries: 5
  delay: 1
  vars:
    hugepage_path: "/sys/kernel/mm/hugepages/hugepages-{{ label_name.split('-')[3] }}/nr_hugepages"
    hugepage_value: "{{ label_name.split('=')[0].split('-')[4] }}"
  ignore_errors: true

- name: set hugepage kernel args
  set_fact:
    wl_kernel_args: "{{ wl_kernel_args | combine((hugepagerc is success) | ternary({}, hugepage_dict)) }}"
    wl_kernel_args_optional: "{{ wl_kernel_args_optional | combine((hugepagerc is success) | ternary(hugepage_dict,{})) }}"
  vars:
    hugepage_dict: "{{ { 'hugepagesz=' + (label_name.split('-')[3]): 'hugepagesz=' + (label_name.split('-')[3].replace('B','')) + ' hugepages=' + (label_name.split('=')[0].split('-')[4]) } }}"

- name: set defaulthugepagesz
  set_fact:
    wl_kernel_args: "{{ wl_kernel_args | combine((hugepagerc is success) | ternary({}, hugepage_dict)) }}"
    wl_kernel_args_optional: "{{ wl_kernel_args_optional | combine((hugepagerc is success) | ternary(hugepage_dict,{})) }}"
  when:
  - sut_default_hugepagesz | default(false) | bool
  vars:
    hugepage_dict: "{{ { 'default_hugepagesz': 'default_hugepagesz=' + (label_name.split('-')[3].replace('B','')) } }}"

