#!/bin/bash

# Copyright 2015 PerfKitBenchmarker Authors. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Builds collectd from source on a VM.
# Supports Debian and RHEL-based systems.

set -o errexit
set -o nounset
set -o pipefail
set -o xtrace

readonly PACKAGE='{{ collectd_package }}'
readonly BUILD_DIR='{{ build_dir }}'
readonly PREFIX='{{ root_dir }}'
readonly PARENT_DIR='{{ parent_dir }}'
readonly CONFIG_DEPD_FILE='{{ config_depd_file }}'
readonly CONFIG_FILE='{{ config_file }}'
readonly PLUGIN_DIR='{{ plugin_dir }}'
readonly PATCHES_DIR='{{ patches_dir }}'
readonly PYTHON_CONFIG='{{ python_config }}'

function build_collectd() {
  mkdir $BUILD_DIR
  pushd $BUILD_DIR
  tar --strip-components 1 -xjf $PACKAGE
  cp $PATCHES_DIR/*.patch .
  for el in *.patch
  do
    patch -p1 < $el
  done
  autoreconf
  export PYTHON_CONFIG
  CFLAGS='-w -Werror' ./configure --prefix "$PREFIX" \
    --enable-python \
    --disable-perl \
    --without-perl-bindings \
    --disable-java \
    --with-librdkafka=/usr/local \
    --disable-rrdtool \
    --disable-werror
  CFLAGS='-w -Werror' make -j `cat /proc/cpuinfo | grep processor | wc -l`
  make install
  popd
  rm -rf $BUILD_DIR
}
function configure_collectd() {
  # Add a collectd configuration script.
  # See:
  # https://github.com/collectd/collectd/blob/collectd-5.5.0/src/collectd.conf.in
  # for a more verbose description.
 cd $PARENT_DIR
 cat $CONFIG_FILE > $PREFIX/etc/collectd.conf
}

function configure_extra_plugins() {
  cd $PLUGIN_DIR
  chmod +x *.sh
  for filename in *_depend.sh; do
    sudo ./$filename
  done
}

# Build collectd if it doesn't already exist.
if [ ! -f $PREFIX/sbin/collectd ]
  then
    build_collectd
    configure_extra_plugins
    configure_collectd $CONFIG_FILE
fi
