accelerate
boto3
bs4
patch
py-cpuinfo
distro
iopath
pytest
pytest-benchmark
requests
tabulate
transformers==4.44.2
MonkeyType
psutil
pyyaml
numpy
opencv-python
submitit
pynvml>=12.0.0
pandas
scipy
numba==0.55.2
llvmlite==0.38.1
