#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

apiVersion: v1
kind: ConfigMap
metadata:
  name: vpp-config
  labels:
    app: vpp-config
data:
  vpp.conf: |
    unix {
      cli-listen /run/vpp/cli-vpp-l3fwd.sock
      exec /run/vpp/vppstartup.conf
    }
    buffers {
{% if k8s_calico_mtu|int == 1500  %}
      buffers-per-numa 131072
{% else %}
      default data-size {{ k8s_calicovpp_buffer_data_size | default(2048) }}
{% endif %}
    }
    cpu {
      main-core {{ k8s_calicovpp_l3fwd_core_start }}
      corelist-workers {{ k8s_calicovpp_l3fwd_core_start | int + 1 }}-{{ (k8s_calicovpp_l3fwd_core_start |int) + (k8s_calicovpp_cores |int) }}
    }
    plugins {
      plugin default { enable }
      plugin dpdk_plugin.so { disable }
    }

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: vppstartup-config
  labels:
    app: vppstartup-config
data:
  vppstartup.conf: |
    create memif socket id 1 filename @vpp/memif
    create interface memif socket-id 1 id 0 slave buffer-size {{ k8s_calicovpp_buffer_data_size }} rx-queues {{ k8s_calicovpp_cores }} tx-queues {{ k8s_calicovpp_cores }}
    set int ip addr memif1/0 172.17.0.4/16
    set interface mac address memif1/0 02:00:00:00:00:02
    set int st memif1/0 up
    sample macswap memif1/0

---

apiVersion: v1
kind: Pod
metadata:
  labels:
    app: vpp-l3fwd
  name: vpp-l3fwd
  annotations:
    "cni.projectcalico.org/vpp.memif.ports":  "tcp:{{ k8s_calicovpp_l3fwd_memif_tcp_ports_range }},udp:{{ k8s_calicovpp_l3fwd_memif_udp_ports_range }}"
    "cni.projectcalico.org/vpp.tuntap.ports": "{{ k8s_calicovpp_l3fwd_tuntap_ports_range | default('default') }}"
spec:
  containers:
  - name: vpp-l3fwd
    image: {{ k8s_calicovpp_l3fwd_image }}
    imagePullPolicy: IfNotPresent
    command: ["/start_l3fwd.sh"]
    ports:
    - containerPort: {{ k8s_calicovpp_l3fwd_port | default(4444) }}
      protocol: {{ k8s_calicovpp_l3fwd_protocol | default('UDP') }}
    env:
    - name: MTU
      value: "{{ k8s_calico_mtu | default(1500) }}"
    resources:
      limits:
        hugepages-{{ k8s_calicovpp_per_hugepage | default('1Gi') }}: {{ k8s_calicovpp_hugepages | default('8Gi') }}
      requests:
        cpu: 500m
        memory: {{ k8s_calicovpp_hugepages | default('8Gi') }}
    securityContext:
      privileged: true
    volumeMounts:
    - name: vpp-config-volume
      mountPath: /etc/vpp/vpp.conf
      subPath: vpp.conf
    - name: vppstartup-config-volume
      mountPath: /run/vpp/vppstartup.conf
      subPath: vppstartup.conf
  tolerations:
  - effect: NoSchedule
    operator: Exists
  - key: CriticalAddonsOnly
    operator: Exists
  - effect: NoExecute
    operator: Exists
  volumes:
  - name: vpp-config-volume
    configMap:
      name: vpp-config
  - name: vppstartup-config-volume
    configMap:
      name: vppstartup-config
