
- name: remove kubeadm, kubelet, and kubectl
  yum:
    name:
    - kubeadm
    - kubelet
    - kubectl
    - kubernetes-cni
    state: absent
  become: true
  when: ((csp | default('static')) == 'static')
  ignore_errors: true

- name: add the k8s repository
  yum_repository:
    name: k8s
    description: k8s installation
    baseurl: "{{ k8s_repo_url['centos'] }}"
    gpgkey: "{{ k8s_repo_key_url['centos'] }}"
  become: true

- name: install kubeadm, kubelet, and kubectl
  yum:
    name: 
    - "kubeadm-{{ k8s_version }}-*"
    - "kubelet-{{ k8s_version }}-*"
    - "kubectl-{{ k8s_version }}-*"
    update_cache: true
  become: true
  register: yumrc
  until: yumrc is success
  retries: 10
  delay: 10

