#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#
---
- name: 'Import docker auth method tasks'
  ansible.builtin.import_tasks:
    file: "{{ docker_auth_method | default('docker') }}.yaml"
