---
- name: 'Check version validity for pass'
  ansible.builtin.set_fact:
    docker_auth_pass_ver: '1.*'
    docker_auth_pass_pkg: 'pass=1.*'
  when: docker_auth_method == 'pass' and docker_auth_pass_ver | default('undefined') == 'undefined'

- name: 'Check version validity for pass'
  ansible.builtin.set_fact:
    docker_auth_cred_ver: '0.7.0'
    docker_auth_cred_url: 'https://github.com/docker/docker-credential-helpers/releases/download/v0.7.0/docker-credential-pass-v0.7.0.linux-amd64'
  when: docker_auth_method == 'pass' and docker_auth_cred_ver | default('undefined') == 'undefined'

- name: 'Find Home path'
  ansible.builtin.shell:
    cmd: 'echo ~{{ ansible_user }}'
    executable: /bin/bash
  register: home
  changed_when: false

- name: 'Create docker auth paths'
  ansible.builtin.file:
    path: '{{ home.stdout }}/{{ item }}'
    mode: '0700'
    state: directory
  when: docker_auth_reuse
  loop:
    - "{{ docker_auth_config_json | dirname }}"
    - "{{ docker_auth_pass_keystore_dir }}"
    - "{{ docker_auth_pass_keyring_dir }}"

- name: 'Copy docker auth'
  ansible.builtin.copy:
    src: '/home/{{ item }}'
    dest: '{{ home.stdout }}/{{ item }}'
    mode: preserve
    owner: '{{ ansible_user }}'
  when: docker_auth_reuse
  failed_when: false
  become: true
  loop:
    - "{{ docker_auth_config_json }}"
    - "{{ docker_auth_pass_keystore_dir }}"
    - "{{ docker_auth_pass_keyring_dir }}"

- name: 'Try to wget docker-credential-pass executable from remote source'
  ansible.builtin.get_url:
    url: '{{ docker_auth_cred_url }}'
    dest: '{{ home.stdout }}/docker-credential-pass'
    mode: '755'
  register: wget_docker_credentials_pass
  failed_when: false

- name: 'Alternative URL for docker-credential-pass workflow'
  ansible.builtin.unarchive:
    src: 'https://github.com/docker/docker-credential-helpers/releases/download/v{{ docker_auth_cred_ver }}/docker-credential-pass-v{{ docker_auth_cred_ver }}-amd64.tar.gz'
    dest: '{{ home.stdout }}/'
    remote_src: true
    mode: '755'
  when: wget_docker_credentials_pass.status_code >= 400

- name: 'Copy docker-credential-pass to /usr/local/bin folder'
  become: true
  ansible.builtin.copy:
    src: '{{ home.stdout }}/docker-credential-pass'
    dest: '/usr/local/bin/docker-credential-pass'
    mode: '755'
    remote_src: true

- name: 'Install pass dependency using package manager'
  become: true
  ansible.builtin.apt:
    name: "{{ docker_auth_pass_pkg }}*"
    state: present
    update_cache: false
  retries: 10
  delay: 10
