#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

- name: install macchanger
  apt:
    name: 
    - "macchanger"
  become: true
  register: aptrc
  until: aptrc is success
  retries: 10
  delay: 10