#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

- hosts: all
  any_errors_fatal: true
  gather_facts: no
  tasks:

    - name: Invoke svrinfo
      include_role:
        name: svrinfo
      when: ansible_connection != 'winrm'

