global complete
proc wait_to_complete {} {
    global complete
    set complete [vucomplete]
    puts "Is it complete ?: $complete"
    if {!$complete} {
        after {{ wl_tunables.TPCC_WAIT_COMPLETE_MILLSECONDS }} wait_to_complete
    } else {
        puts "BUILD SCHEMA COMPLETE"
        exit
    }
}

puts "SETTING CONFIGURATION"
dbset db mysql
dbset bm TPC-C
diset connection mysql_host {{ hostvars["worker-0"]["private_ip"] }}
diset connection mysql_port 3306
diset connection mysql_socket /tmp/mysql.sock
diset tpcc mysql_user root
diset tpcc mysql_pass Mysql@123
diset tpcc mysql_count_ware {{ wl_tunables.TPCC_NUM_WAREHOUSES }}
diset tpcc mysql_partition true
diset tpcc mysql_num_vu {{ wl_tunables.TPCC_THREADS_BUILD_SCHEMA }}
diset tpcc mysql_storage_engine innodb

print dict
buildschema
wait_to_complete
vwait forever