#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#
---
- name: Recording timing
  hosts: localhost
  gather_facts: false
  become: false
  tasks:

    - name: Record timing
      shell:
        cmd: |
          echo "k8s_setup_start: \"$(date -Ins)\"" >> {{ wl_logs_dir}}/timing.yaml
        executable: /bin/bash
      when: (ansible_connection|default('ssh')) == 'ssh'
      async: 30
      poll: 0

- name: "Cluster hosts preparation"
  hosts: cluster_hosts
  any_errors_fatal: true
  gather_facts: false
  become: false
  tasks:

    - name: "Check cluster status"
      ansible.builtin.include_role:
        name: installation
        tasks_from: check-cluster
      when: (ansible_connection|default('ssh')) == 'ssh'

    - name: "Prepare the cluster"
      ansible.builtin.include_role:
        name: installation
        tasks_from: prepare-cluster
      when:
      - (ansible_connection|default('ssh')) == 'ssh'
      - sut_sudo | default(true) | bool

- name: "Create cluster on controller node"
  hosts: "{{ ('controller' in groups) | ternary('controller','localhost') }}"
  gather_facts: false
  become: false
  tasks:

    - name: "Create the cluster"
      ansible.builtin.include_role:
        name: installation
        tasks_from: create-cluster
      when:
      - (ansible_connection|default('ssh')) == 'ssh'
      - sut_sudo | default(true) | bool

- name: "Join workload hosts to controller"
  hosts: workload_hosts
  any_errors_fatal: true
  gather_facts: false
  become: false
  tasks:

    - name: "Join workers"
      ansible.builtin.include_role:
        name: installation
        tasks_from: join-workers
      when:
      - (ansible_connection|default('ssh')) == 'ssh'
      - sut_sudo | default(true) | bool

- name: "Finalize controller installation tasks"
  hosts: "{{ ('controller' in groups) | ternary('controller','localhost') }}"
  gather_facts: false
  become: false
  tasks:

    - name: "Finalize controller"
      ansible.builtin.include_role:
        name: installation
        tasks_from: finalize-controller
      when: (ansible_connection|default('ssh')) == 'ssh'

- name: "Finalize workload hosts installation tasks"
  hosts: workload_hosts
  any_errors_fatal: true
  gather_facts: false
  become: false
  tasks:

    - name: "Finalize workers"
      ansible.builtin.include_role:
        name: installation
        tasks_from: finalize-workers
      when:
      - (ansible_connection|default('ssh')) == 'ssh'
      - sut_sudo | default(true) | bool

- name: Recording timing
  hosts: localhost
  gather_facts: false
  become: false
  tasks:

    - name: Record timing
      shell:
        cmd: |
          echo "k8s_setup_end: \"$(date -Ins)\"" >> {{ wl_logs_dir}}/timing.yaml
        executable: /bin/bash
      when: (ansible_connection|default('ssh')) == 'ssh'
      async: 30
      poll: 0
