---
apiVersion: deviceplugin.intel.com/v1
kind: QatDevicePlugin
metadata:
  name: intel-qat-device-plugin
  annotations:
    container.apparmor.security.beta.kubernetes.io/intel-qat-plugin: {{ qat_device_plugin_apparmor_profile }}
spec:
  image: docker.io/intel/intel-qat-plugin:{{ qat_device_plugin_ver }}
  dpdkDriver: {{ qat_device_plugin_dpdk_drivers }}
  kernelVfDrivers: {{ qat_device_plugin_drivers_for_kernel }}
  maxNumDevices: {{ qat_device_plugin_max_vfs }}
  logLevel: 4
  nodeSelector:
    intel.feature.node.kubernetes.io/qat: 'true'
