---
apiVersion: deviceplugin.intel.com/v1
kind: DlbDevicePlugin
metadata:
  name: intel-dlb-device-plugin
  annotations:
    container.apparmor.security.beta.kubernetes.io/intel-dlb-plugin: {{ dlb_device_plugin_apparmor_profile }}
spec:
  image: docker.io/intel/intel-dlb-plugin:{{ dlb_device_plugin_ver }}
  logLevel: 4
  nodeSelector:
    intel.feature.node.kubernetes.io/dlb: 'true'
