#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#
---
- block:
  - name: check QAT Device Plugin status before installation
    command: "kubectl wait --for=condition=Ready pod --all -n {{ qatplugin_namespace }} --timeout 1s"

  rescue:
  - name: install git
    package:
      name: git

  - name: delete qat-plugin namespace
    ignore_errors: true
    shell: |
      kubectl delete namespace {{ qatplugin_namespace }}
    args:
      executable: /bin/bash

  - name: create qat-plugin namespace
    shell: |
      kubectl create namespace {{ qatplugin_namespace }}
    args:
      executable: /bin/bash

  - name: Install qat-plugin
    shell: |
      git clone --depth 1 {{ qatplugin_repository }} -b {{ qatplugin_release }} /tmp/{{ wl_namespace }}-qatplugin
      cd /tmp/{{ wl_namespace }}-qatplugin
      sed -i '/imagePullPolicy: IfNotPresent/a \\        args: ["-allocation-policy", "balanced", "-max-num-devices", "{{ qatplugin_max_qat_devices }}"]' ./deployments/qat_plugin/base/intel-qat-plugin.yaml
      kubectl create -k deployments/qat_plugin/overlays/apparmor_unconfined -n {{ qatplugin_namespace }}
    args:
      executable: /bin/bash
    run_once: true

  - name: remove qat-plugin installation files
    become: true
    file:
      path: '/tmp/{{ wl_namespace }}-qatplugin'
      state: absent

  - name: check qat-plugin status on worker
    command: "kubectl wait --for=condition=Ready pod --all -n {{ qatplugin_namespace }} --timeout 30s"

