Host *
    ControlPath /tmp/wsf-ssh-%h-%p-%r
    ControlMaster auto
    ControlPersist 60m
    TCPKeepAlive yes
    CheckHostIP no
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null
    IdentitiesOnly no
    PreferredAuthentications publickey,password
    ConnectionAttempts 5
    ConnectTimeout 30
    GSSAPIAuthentication no
    ServerAliveInterval 30
    ServerAliveCountMax 10

