#!/bin/bash

openssl req -x509 -sha256 -nodes -days 365 -newkey rsa:3072 -subj '/O=nighthawk Inc./CN=night.com' -keyout /tmp/istio-wl/night.com.key -out /tmp/istio-wl/night.com.crt
openssl req -out /tmp/istio-wl/sm-nighthawk-server.night.com.csr -newkey rsa:3072 -nodes -keyout /tmp/istio-wl/sm-nighthawk-server.night.com.key -subj "/CN=sm-nighthawk-server.night.com/O=nighthawk organization"

openssl x509 -req -sha256 -days 365 -CA /tmp/istio-wl/night.com.crt -CAkey /tmp/istio-wl/night.com.key -set_serial 1 -in /tmp/istio-wl/sm-nighthawk-server.night.com.csr -out /tmp/istio-wl/sm-nighthawk-server.night.com.crt

#kubectl create -n istio-system secret tls nighthawk-credential --key=/tmp/istio-wl/sm-nighthawk-server.night.com.key --cert=/tmp/istio-wl/sm-nighthawk-server.night.com.crt
