# Feature: TLS handshake acceleration using Icelake crypto multibuffers (avx512)
# Requires: Icelake CPU, or later
# Applies: Istio ingress gateway and sidecars
#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
spec:
  profile: default
  tag: 1.16.0-intel.0
  hub: docker.io/intel
  meshConfig:
    defaultConfig:
      proxyStatsMatcher:
        inclusionPrefixes:
          - "listener"
      # Allows cryptomb bucket statistics via EnvoyFilter 
      proxyMetadata:
        BOOTSTRAP_XDS_AGENT: "true"

  components:
    pilot:
      k8s:
        nodeSelector:
          kubernetes.io/hostname: {{ worker_host_name.stdout }}
    ingressGateways:
    - enabled: true
      name: istio-ingressgateway
      k8s:
        overlays:
          - kind: Deployment
            name: istio-ingressgateway
            patches:
            - path: spec.template.spec.containers.[name:istio-proxy].args.[-1]
              value: "--concurrency={{ wl_tunables['SERVER_INGRESS_GW_CONCURRENCY'] }}"
        # Limit CPU/MEM usage to 2 vCPUs/4 GB for QoS class of guaranteed.
        # Enable CPU manager static policy in kubelet to even more deterministic results.
        resources:
          requests:
            cpu: "{{ wl_tunables['SERVER_INGRESS_GW_CPU'] }}"
            memory: "{{ wl_tunables['SERVER_INGRESS_GW_MEM'] }}"
          limits:
            cpu: "{{ wl_tunables['SERVER_INGRESS_GW_CPU'] }}"
            memory: "{{ wl_tunables['SERVER_INGRESS_GW_MEM'] }}"
        podAnnotations: # this controls the SDS service which configures ingress gateway
          proxy.istio.io/config: |
            privateKeyProvider:
              cryptomb:
                pollDelay: 10ms
        nodeSelector:
          kubernetes.io/hostname: {{ worker_host_name.stdout }}
  values:
    # Annotate pods with
    #     inject.istio.io/templates: sidecar,cryptomb
    #
    # Note: CryptoMB doesn't have any method for guiding the workload to
    # an AVX-512 enabled node, so when you annotate the pod with the
    # cryptomb annotation, also set the taints correctly.
    sidecarInjectorWebhook:
      templates:
        cryptomb: |
          spec:
            containers:
            - name: istio-proxy
