#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#
apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
spec:
  profile: default
  tag: 1.17.1-intel.2
  hub: docker.io/intel
  components:
    pilot:
      k8s:
        nodeSelector:
          kubernetes.io/hostname: {{ worker_host_name.stdout }}
    ingressGateways:
    - enabled: true
      name: istio-ingressgateway
      k8s:
        overlays:
          - kind: Deployment
            name: istio-ingressgateway
            patches:
              - path: spec.template.spec.containers.[name:istio-proxy].args.[-1]
                value: "--concurrency={{ wl_tunables['SERVER_INGRESS_GW_CONCURRENCY'] }}"
        resources:
          requests:
            cpu: "{{ wl_tunables['SERVER_INGRESS_GW_CPU'] }}"
            memory: "{{ wl_tunables['SERVER_INGRESS_GW_MEM'] }}"
            dlb.intel.com/pf: "{{ wl_tunables['DLB_NUM'] }}"
          limits:
            cpu: "{{ wl_tunables['SERVER_INGRESS_GW_CPU'] }}"
            memory: "{{ wl_tunables['SERVER_INGRESS_GW_MEM'] }}"
            dlb.intel.com/pf: "{{ wl_tunables['DLB_NUM'] }}"
        nodeSelector:
          kubernetes.io/hostname: {{ worker_host_name.stdout }}
        hpaSpec:
          maxReplicas: 1
          minReplicas: 1
  values:
    telemetry:
      enabled: false
