#jinja2:lstrip_blocks: True
#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: nighthawk-server-gateway
  namespace: istio-workloads-{{ wl_namespace }}
spec:
  selector:
    istio: ingressgateway # use Istio default gateway implementation
  servers:
  - port:
      name: sm-nighthawk-server
      number: 10000
      {% if wl_tunables['PROTOCOL'] == 'http1' %}
      protocol: HTTP
      {% else %}
      protocol: HTTP2
      {% endif %}
    hosts:
    - '*'
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: nighthawk-ingress
  namespace: istio-workloads-{{ wl_namespace }}
spec:
  hosts:
  - "*"
  gateways:
  - nighthawk-server-gateway
  http:
  - route:
    - destination:
        host: sm-nighthawk-server.istio-workloads-{{ wl_namespace }}.svc.cluster.local
        port:
          number: 10000
