#jinja2:lstrip_blocks: True
#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sm-nighthawk-server
  labels:
    app: sm-nighthawk-server
  namespace: istio-workloads-{{ wl_namespace }}
spec:
  replicas: {{ wl_tunables['SERVER_REPLICA_NUM'] }}
  selector:
    matchLabels:
      app: sm-nighthawk-server
  template:
    metadata:
      labels:
        app: sm-nighthawk-server
    spec:
      containers:
        - name: sm-nighthawk-server
          image: {{ remote_registry_url }}/istio-envoy-server{{ 'release' | extract(lookup('file', wl_logs_dir + '/workload-config.yaml') | from_yaml) }}
          imagePullPolicy: Always
          resources:
            limits:
              cpu: "1"
              memory: 1Gi
            requests:
              cpu: "1"
              memory: 1Gi
          command: [ "/usr/local/bin/nighthawk_test_server", "-c", "/etc/envoy/nighthawk-server-cm.yaml" ]
          ports:
          - containerPort: 10000
            protocol: TCP
          volumeMounts:
          - name: config-volume
            mountPath: /etc/envoy
      volumes:
      - configMap:
          defaultMode: 420
          name: nighthawk
        name: config-volume
      nodeSelector:
        kubernetes.io/hostname: {{ worker_host_name.stdout }}
---
apiVersion: v1
kind: Service
metadata:
  name: sm-nighthawk-server
  namespace: istio-workloads-{{ wl_namespace }}
spec:
  selector:
    app: sm-nighthawk-server
  ports:
    - name: nighthawk
      protocol: TCP
      port: 10000
      targetPort: 10000
