#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#
apiVersion: batch/v1
kind: Job
metadata:
  name: nighthawk-client
  namespace: {{ wl_namespace }}
  labels:
    application: "nighthawk-client"
spec:
  template:
    metadata:
      labels:
        app: nighthawk-client
    spec:
      hostNetwork: false
      containers:      
      - name: nighthawk-client
        image: {{ remote_registry_url.stdout }}/istio-envoy-client{{ 'release' | extract(lookup('file', wl_logs_dir + '/workload-config.yaml') | from_yaml) }}
        imagePullPolicy: Always
      restartPolicy: Never
  nodeSelector:
    kubernetes.io/hostname: {{ client_host_name }}
  backoffLimit: 5