#
# Apache v2 license
# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
#

- name: Start waitproc
  shell:
    cmd: |
      echo 3 > "{{ trace_status_file }}"
      nohup bash -c {{ start_cmd_str | quote }} > /dev/null 2>&1 &
      echo $!
      disown
    executable: /bin/bash
  when: trace_waitproc_pid is not defined
  register: waitproc
  delegate_to: "{{ trace_logs_host | default(inventory_hostname) }}"
  run_once: true
  vars:
    start_cmd_str: |
      {{ trace_start_command }}
      echo $? > "{{ trace_status_file }}"

- set_fact:
    trace_waitproc_pid: "{{ waitproc.stdout }}"
