[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o TCPKeepAlive=yes -o UserKnownHostsFile=/dev/null -o CheckHostIP=no -o StrictHostKeyChecking=no -o IdentitiesOnly=no -o PreferredAuthentications=publickey,password -o ConnectTimeout=20 -o GSSAPIAuthentication=no -o ServerAliveInterval=30 -o ServerAliveCountMax=10
host_key_checking = False
control_path = /tmp/wsf-setup-ssh-%%h-%%p-%%r
scp_if_ssh = smart
transfer_method = smart
retries = 5

[defaults]
timeout = 30
forks = 20
internal_poll_interval = 0.001
stdout_callback = default
pipelining = True
retries = 5
callbacks_enabled = error_summary
callback_plugins = {{CWD}}/../terraform/template/ansible/plugins

[privilege_escalation]
become_flags = -E -H
